/Literature/**
/Code/**
/Graphics/**
/LaTeX/Parts/Other/**
/LaTeX/*.out
/LaTeX/*.aux
/LaTeX/*.bbl
/LaTeX/*.bcf
/LaTeX/*.blg
/LaTeX/*.fdb_latexmk
/LaTeX/*.fls
/LaTeX/*.log
/LaTeX/*.synctex.gz
.Rproj.user
