### R ###
# History files
**.Rhistory
**.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# Literature PDFs
/Literature/**

# Simulation Results and Previous Versions of Graphics
/Code/Simulations/Simulation_Results/
/Graphics/Archive/

# Superfluous Latex files
/LaTeX/Parts/Other/**
/LaTeX/*.out
/LaTeX/*.aux
/LaTeX/*.bbl
/LaTeX/*.bcf
/LaTeX/*.blg
/LaTeX/*.fdb_latexmk
/LaTeX/*.fls
/LaTeX/*.log
/LaTeX/*.synctex.gz


Code/Simulations/.Rhistory
Code/tdnnR/.Rhistory

Code/tdnnR_0.1.0.tar.gz
